.rose{
    color:#dd99ff;
}
.butterfly{
    color:#ff0000;
}
h1{
    font-family: 'Dancing Script', cursive;
}
h2{
    font-family: 'Dancing Script', cursive;
}
h4{
    font-family: 'Lobster Two', cursive;
}
body{
    background-color:#ff6680;
}
.pikachu{
    font-family: 'Lobster Two', cursive;
}
.stitch{
        font-family: 'Lobster Two', cursive;
}
.ocean{
    font-family: 'Lobster Two', cursive;
}